html, body {
    margin: 0;
}

.main-form {
    margin-bottom: 10px;
}

.user-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 10px 10px 0;
    .main-block {
        border: 1px solid green;
        margin: 10px 0 0 10px;
        .user-info-block {
            display: flex;
            padding: 10px;
            .initials {
                padding-right: 10px;
            }
            .user-avatar {
                width: 100px;
                height: 100px;
                margin: auto;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }  
        }
    }
}